name: GitHub Environments

on:
  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: https://github.com

    steps:
      - name: "Print secret from environment"
        run: |
          echo "APP_SECRET: ${{ secrets.APP_SECRET  }}"
          echo "APP_SECRET: ${{ secrets.DEV_SECRET  }}"
